/**
* file: project style color file
* date: 2020-07-21
* author: Frank
* lastModify: Frank 2020-07-21
*/

//This file will contain all the color that will be used in the project
// color list
$darkBlue: #264c59;
$orange: #fd6b0b;
$ligthGray: #e0e0e0;
$textGray: #6a6a6a;
$gray: #dadada;
$dark: #232323;
$lightDark: #454545;
$white: #ffffff;
