/**
* file: project style font size and font family file
* date: 2020-07-21
* author: Frank
* lastModify: Frank 2020-07-21
*/

//this file will contain all the font size and font family that will be used in the project
// font size list
$fs_42: 4.2rem;
$fs_28: 2.8rem;
$fs_19: 1.9rem;
$fs_16: 1.6rem;
$fs_14: 1.4rem;
$fs_12: 1.2rem;
$fs_10: 1rem;
// font family list
$commonFamily: Helvatica,
lato,
sans-serif;